* {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove margens e preenchimentos padrão */
}

/* Estilo para o alerta */
.alerta {
  background-color: #ffcc00; /* Cor de fundo amarela */
  color: #333; /* Texto escuro */
  font-size: 18px; /* Tamanho da fonte */
  border: 2px solid #ff9900; /* Borda laranja */
  padding: 10px; /* Espaçamento interno */
  position: absolute; /* Para garantir que ele fique sobre o conteúdo */
  top: 60%; /* Ajuste a posição do alerta */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Para centralizar */
  width: 35%; /* Tamanho do alerta */
  text-align: center; /* Centraliza o texto */
  z-index: 1000; /* Garante que fique por cima de outros elementos */
  font-family: Arial, sans-serif; /* Fonte do alerta */
  font-weight: bold; /* Negrito */
  line-height: 1.0; /* Espaçamento entre linhas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para o alerta */
  border-radius: 5px; /* Cantos arredondados */
  opacity: 0; /* Começa invisível */
  animation: piscar 3.5s infinite; /* Animação de piscar */
  display: none; /* Esconde o alerta inicialmente */
}

/* Efeito de piscar */
@keyframes piscar {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

/* Estilo do botão de fechar (não será mais utilizado) */

/*body do meu portfolio*/
#logo-body {
  background-image: url('../images/3607424.jpg'); /* Imagem de fundo do corpo */
  background-size: cover; /* Garante que a imagem cubra todo o fundo */
  background-position: center; /* Centraliza a imagem de fundo */
  background-attachment: fixed; /* Mantém a imagem fixa durante o scroll */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
  justify-content: center; /* Centraliza verticalmente */
}

/*Carrosel*/
  .carousel-inner {
    max-height: 1000px; /* ajuste conforme desejar */
    max-width: 900px; /* ajuste conforme desejar */
    margin: auto; /* centraliza o carrossel */
    overflow: hidden; /* esconde o conteúdo que ultrapassa o limite do carrossel */
    border-radius: 5px; /* Cantos arredondados do carrossel */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para o carrossel */
    margin-bottom:50px;

  }

  .carousel-inner img {
    object-fit: cover;
    width: 100%; /* Garante que a imagem ocupe toda a largura do carrossel */
    height: 100%; /* Garante que a imagem ocupe toda a altura do carrossel */
    border-radius: 5px; /* Cantos arredondados das imagens */   
  }

   
/* Teia */
#teia {
  position: fixed; /* Fixa a teia na tela */
  top: 0; /* Posiciona no canto superior esquerdo */
  left: 0; /* Posiciona no canto superior esquerdo */
  width: 100%; /* Ocupa toda a largura */
  height: 100%; /* Ocupa toda a tela */
  z-index: -1; /* Fica no fundo */
  pointer-events: none; /* Deixa os cliques passarem */
  background: transparent; /* Fundo transparente */
}